<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <%= render 'shared/user_info' %>
  </aside>
  <div class="span8">
  	<ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Activity</a>
      </li>
      <li><%= link_to "Cellar", cellar_user_path(@user) %></li>
      <li><a href="#">Info</a></li>
      <% if (user_signed_in? && current_user == @user) %>
      <li><a href="#">Trades</a></li>
      <li><a href="#">Messages</a></li>
      <% end %>
    </ul>
    <% if current_user == @user %>
      <h3>News Feed</h3>
      <% @news_feed_items.each do |activity| if activity.trackable %>
        <%= ActivityPresenter.new(activity, self).render_activity %>
      <% end end %>
    <% else %>
      <h3><%= @user.name %>'s Activity</h3>
      <% @users_activities.each do |activity| if activity.trackable %>
        <%= ActivityPresenter.new(activity, self).render_activity %>
      <% end end %>
    <% end %>
  </div>
</div>